[submodule "application/third_party/Twig"]
	path = application/third_party/Twig
	url = git@github.com:fabpot/Twig.git
[submodule "application/third_party/tcpdf"]
	
	path = application/third_party/tcpdf
	
	url = git@github.com:tcpdf-clone/tcpdf.git